<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>
        {% block title %}
        {% endblock %}
    </title>

    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
<div>
    <a href="/">Главная</a>
    <a href="/min_price">Минимальная цена</a>
    <a href="/max_speed">Максимальная скорость</a>
    <a href="/mean_range">Средняя проходимость</a>
    <a href="/classification">Классификация</a>
    <a href="/cross_validation">Кросс-валидация</a>
</div>

<hr>

{% block content %}{% endblock %}
</body>
</html>
