{% extends 'base.html' %}

{% block title %}
    Cars
{% endblock %}

{% block content %}
    <h1> Классификация зависимости эффективности работы электродвигателя от следующих параметров

    </h1>
    <div class="center">
        {% for table in tables %}
        {{ table|safe }}
        {% endfor %}
        </div>
    <h2>Качество модели: {{ score }}<br>
    Исходя из классификации, можно сказать, что наибольшее влияние на эффективность работы электродвигателя оказывает дальность расстояния, а именно, сколько километров сможет проехать электроавтомобиль на одном заряде
    <a href="/classification.pdf">PDF</a>
        Модель автоматически сохранена на сервере! Для проведения кросс-валидации откройте соотвествующую страницу.
    </h2>


{% endblock %}